.landing {
	min-height: 100vh;
	width: 100vw;

	display: flex;
	align-items: center;
	justify-content: center;

	padding: 0 1.5rem;
}

.landing__text-box {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 1rem;
	text-align: center;
	line-height: 1.5;
	color: var(--white);
}

h1 {
	font-size: 11vw;
}

.cta-btn {
	padding: 1rem 2rem;
	margin-top: 1rem;
	background-color: var(--main);
	border: 1px solid var(--main);
	font-weight: 500;

	transition: all .2s;
}

.cta-btn:hover {
	background-color: transparent;
}

@media (min-width: 576px) {
	h1 {
		font-size: 3.5rem;
	}
}

@media (min-width: 768px) {
	.landing {
		justify-content: flex-start;
		text-align: left;
		padding: 4rem;
	}

	.landing__text-box {
		align-items: flex-start;
	}

	h1 {
		font-size: 4rem;
		margin-left: -.075em;
	}
}

@media (min-width: 992px) {
	.landing {
		padding: 0 10vw;
	}

	h1 {
		font-size: 4.5rem;
	}
}