.project {
	display: grid;
	grid-template-rows: 10rem auto;
	grid-template-columns: 1fr;
	gap: 1rem 2rem;
}

.project__img {
	width: 100%;
	height: 100%;
	display: block;
	object-fit: cover;
}

.project__caption {
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 1rem;
	line-height: 1.5;
}

.project__title {
	font-size: 1.5rem;
}

.project__techstack {
	list-style: inside;
	margin-top: 1rem;
	margin-left: 1rem;
}

.project__footer {
	margin-top: 1rem;
	display: flex;
	align-items: center;
	gap: 2.5rem;
	overflow-y: hidden;
}

.project__demo_link__container {
	position: relative;
	display: flex;
	border-bottom: 1px solid var(--accent);
}

.project__demo_link__overlay {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 0;
	background-color: var(--accent);
	z-index: 0;
	transition: all .2s;
}

.project__demo_link {
	z-index: 1;
	cursor: pointer;
	text-decoration: none;
	display: flex;
	align-items: center;
	gap: .5rem;
	padding: .25rem .5rem;
}

.project__demo_link:hover + .project__demo_link__overlay {
	width: 100%;
}

.project__github_link {
	font-size: 1.5rem;
	margin-bottom: -.4em;
	transition: all .2s;
}

.project__github_link:hover {
	color: var(--accent);
}

@media only screen and (min-width: 768px) {
	.project {
		grid-template-rows: auto;
		grid-template-columns: 45% 1fr;
	}
}