.project__caption {
	display: flex;
	flex-direction: column;
	gap: .5rem;
	line-height: 1.5;
}

.project__title {
	font-size: 1.25rem;
}

.project__techstack {
	list-style: inside;
	display: flex;
	flex-direction: column;
	margin: .5rem 0;
}

.project__links {
	margin-top: .5rem;
	display: flex;
	align-items: center;
	gap: 2rem;
}

.project__demo_link {
	padding: .5em;
	border: none;
	border-bottom: .1rem solid var(--accent);
}

.project__demo_link__text {
	display: flex;
	align-items: center;
	gap: 1rem;
}

.project__github_link {
	font-size: 1.5rem;
	margin-bottom: -.3em;
	transition: all .2s;
}

.project__github_link:hover {
	color: var(--accent);
}