.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 2em;
}

.nav--btn-img {
  height: 1.25em;
  width: 1.25em;
}

.nav {
  position: fixed;
  top: 0;
  left: 0;

  height: 100vh;
  width: 100vw;

  display: flex;
  padding: 2em;

  background-color: var(--black);
}

.nav--collapse-btn {
  position: absolute;
  top: 2em;
  right: 2em;
}

.nav-links {
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3vh;
  list-style-type: none;
}

.nav-link {
  text-decoration: none;
}

.nav-link:hover,
.nav-link:focus {
  outline: none;
  color: var(--primary);
}

@media only screen and (min-width: 768px) {
  .header {
    padding: 3.5em 5em;
  }

  .nav--expand-btn {
    display: none;
  }

  .nav {
    position: static;
    height: unset;
    width: unset;
    padding: 0;
    align-items: center;
    background-color: transparent;
    /* border: 2px solid black; */
  }

  .nav--collapse-btn {
    display: none;
  }

  .nav-links {
    flex-direction: row;
    align-items: center;
    /* gap: 5vw; */
    gap: 3.5em;
    /* border: 2px solid orange; */
  }
}