.header {
  position: absolute;
  top: 0;
  width: 100%;
  padding-top: 2.5em;
}

.header--container {
  width: 85%;
  margin: 0 auto;
  
  display: flex;
  align-items: center;
  justify-content: flex-end;

  position: relative;
}

.header--nav-toggle-btn {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
}

.nav {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;

  width: 100vw;
  height: 100vh;

  display: flex;
  background-color: var(--black);
}

.nav-links {
  margin: auto;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 2em;
  text-align: center;
}

.nav-link {
  text-transform: capitalize;
  text-decoration: none;
  color: var(--white);

  position: relative;
}

.nav-link:hover::after {
  position: absolute;
  top: 1.75em;
  left: 5%;

  content: "";
  width: 90%;
  border: .05em solid var(--primary);
}

@media only screen and (min-width: 768px) {
  .header--nav-toggle-btn {
    display: none;
  }

  .nav {
    display: block;
    position: static;
    height: auto;
    width: auto;
    background-color: transparent;
  }

  .nav-links {
    flex-direction: row;
    gap: 3em;
  }
}