.section {
  padding: 6em 0;
  background-color: var(--black);
  border-bottom: .05em solid var(--secondary);
}

.section--container {
  width: 85%;
  margin: 0 auto;

  display: flex;
  flex-direction: column;
  gap: 2.5em;
}

.section--header {
  height: 4em;
}

.section--title {
  position: relative;
  font-size: 2rem;
  font-weight: 500;
  text-transform: capitalize;
}

.section--title::after {
  content: "";
  width: 2em;
  position: absolute;
  top: 2em;
  left: 0;
  text-transform: capitalize;
  border-bottom: .1em solid var(--primary);
}