.container {
	height: 100vh;
	overflow-y: scroll;
	position: relative;

	background-image: url("./assets/img/cedric-letsch-0mY01y72UKo-unsplash.jpg");
	background-size: cover;
	background-position: center;
}

main {
	background-color: #19231AF0;
}

h1, h2, h3 {
	font-family: "Lexend", system-ui, Avenir, Helvetica, Arial, sans-serif;
}

/*WORK*/
.work {
	background-color: var(--black);
}

.work__projects {
	display: flex;
	flex-direction: column;
	gap: 4rem;
}