@font-face {
  font-family: 'Poppins';
  src: url('./assets/fonts/Poppins-Regular.ttf') format('truetype');
  font-style: normal;
}

@font-face {
  font-family: 'Poppins-light';
  src: url('./assets/fonts/Poppins-Light.ttf') format('truetype');
  font-style: normal;
}

@font-face {
  font-family: 'Poppins-bold';
  src: url('./assets/fonts/Poppins-SemiBold.ttf') format('truetype');
  font-style: normal;
}

:root {
  --black: #3A3335;
  --white: #C6D8D3;
  --primary: #D81E5B;
}

body {
  font-family: 'Poppins', sans-serif;
  color: var(--white);
}

.app-container {
  height: 100vh;
  position: relative;
  overflow-y: scroll;

  background-image: url('./assets/img/bg-image.jpg');
  background-position: center;
  background-size: cover;  
}

section {
  display: flex;
  flex-direction: column;
  padding: 0 2em;
}

.section--header {
  border: 1px solid black;
}

.section--title {
  position: relative;
  display: inline-block;
  font-size: 2rem;
  text-transform: capitalize;
}

.section--title-text::after {
  position: absolute;
  top: 2em;
  left: 0;
  content: '';
  width: 60%;
  border-bottom: .1em solid var(--primary);
}

.hero {
  height: 100vh;
  max-height: 768px;
  min-height: 500px;
  align-items: center;
  justify-content: center;
}

.hero--inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2em;
}

.hero--inner hgroup {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: .5em;
  text-align: center;
}

h1 {
  font-family: 'Poppins-bold';
  font-size: 10vw;
}

.tagline {
  max-width: 65%;
}

/* WORK SECTION */
.work {
  min-height: 100vh;
  background-color: var(--black);
}

@media only screen and (min-width: 768px) {
  section {
    padding: 0 5em;
  }

  .hero {
    align-items: flex-start;
  }

  .hero--inner {
    align-items: flex-start;
  }

  .hero--inner hgroup {
    align-items: flex-start;
    text-align: left;
  }

  h1 {
    font-size: 4.5rem;
  }
}