@font-face {
  font-family: 'Lexend';
  src: url(./assets/fonts/Lexend/Lexend-VariableFont_wght.ttf);
}

:root {
  --black: #131B23;
  --white: #E9F1F7;
  --primary: #2274A5;
  --accent: #E7DFC6;
}

body {
  font-family: Lexend, Inter, sans-serif;
  font-size: 1.125rem;
  line-height: 1.5;
}

.app--container {
  height: 100vh;
  overflow-y: scroll;
  background-image: url(./assets/images/the-chaffins-syhIpeHdLdM-unsplash.jpg);
  background-size: cover;
  background-position: center center;
  position: relative;
}

main {
  background-color: #131B23EE;
  color: var(--white);
}

/* HERO */
.hero {
  height: 100vh;
}

.hero--container {
  height: 100%;
  width: 85%;
  margin: 0 auto;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1em;
  text-align: center;
}

h1 {
  font-size: 10vw;
  font-weight: 800;
}

.hero p {
  width: 75%;
}

.hero--cta-btn {
  margin-top: 1em;
  padding: 1em 1.5em;
  background-color: var(--primary);
}

@media only screen and (min-width: 768px) {
  .hero--container {
    align-items: flex-start;
    text-align: left;
  }

  h1 {
    font-size: 4rem;
  }
}