@font-face {
  font-family: 'Lexend';
  font-style: normal;
  src: url("./assets/fonts/Lexend/Lexend-VariableFont_wght.ttf") format("truetype");
}

@font-face {
  font-family: 'Questrial';
  font-style: normal;
  src: url("./assets/fonts/Questrial/Questrial-Regular.ttf") format("truetype");
}

:root {
  font-size: 18px;

  --black: #19231A;
  --white: #D8CBC7;
  --main: #33673B;
  --accent: #CC3F0C;
}

/* Global reset */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-size: inherit;
  font-family: inherit;
  font-weight: inherit;
  color: inherit;
}

body {
  font-family: "Questrial", system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1;
}

button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}