:root {}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  color: inherit;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;

  user-select: none;
}

img {
  max-width: 100%;
  display: block;
  object-fit: cover;
}

button {
  background-color: transparent;
  cursor: pointer;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
